/* Landing page */

.landingButtons{
    text-align: center;
    justify-content: center;
    
  }
  
  .landingButtons{
      width: 47%;
      text-align:center;
      margin: auto;
      margin-bottom: 1%;
      color: #8c8c8c;
  }